//fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$font__Space: "Space Mono", monospace;
$font__inputSize: 24px;
$font__verybold: 700;

//colors

$color__strongCyan: hsl(172, 67%, 45%);
$color__veryCyan: hsl(183, 100%, 15%);
$color__darkCyan: hsl(186, 14%, 43%);
$color__grayCyan: hsl(184, 14%, 56%);
$color__lightGray: hsl(185, 41%, 84%);
$color__veryGray: hsl(189, 41%, 97%);
$color__white: hsl(0, 0%, 100%);
$color__warning: red;
